<div class="checkout">
    <div class="checkout-left">
        <div class="checout-empty" *ngIf = "shopping_cart.getCartLenght() == 0">
            <h2>Your shopping basket is empty</h2>
            <p>You have no items in your basket</p>
        </div>
        <div class="checkout_not_empty" *ngIf="shopping_cart.getCartLenght() != 0">
            <p><strong>Shopping Cart</strong></p>
            <app-checkout-products [checkout_products] = "items" (deleteEvent)="deleteEventHandler($event)"></app-checkout-products>
        </div>
    </div>
    <div class="checkout-right">

    </div>
</div>
